cffi==1.12.2
greenlet==0.4.15
Cython==0.29.7
ipython==7.5.0
Numeric==24.2
pyOpenSSL==19.0.0
PyQt4==4.11.4
PyQt5==5.12.2
PySide==1.2.4
PySide2==5.12.3
blinker==1.4
charade==1.0.3
cntk==2.7
cryptography==2.6.1
dask==1.2.2
python-dotenv==0.10.2
genapi==0.0.8
google_api_python_client==1.7.8
ipaddr==2.2.0
libmc==1.2.0
lxml==4.3.3
matplotlib==3.1.0
python_memcached==1.59
mock==3.0.5
mpi4py==3.0.1
mpmath==1.1.0
mtrand==0.1
nose==1.3.7
numarray==1.5.1
olefile==0.46
ordereddict==1.1
pandas==0.24.2
pathlib2==2.3.3
pickle5==0.0.8
portpicker==1.3.1
pretty==0.1
psutil==5.6.2
pydot==1.4.1
pydot_ng==2.0.0
pydotplus==2.0.2
Pygments==2.7.4
pylibmc==1.6.0
pytest==4.5.0
pytz==2019.1
redis==3.2.1
scikits.talkbox==0.2.5
simplejson==3.16.0
scikit_learn==0.21.1
spline==1.12
streams==0.1
sympy==1.4
theano==1.0.4
pytidylib==0.3.2
toolz==0.9.0
unittest2==1.1.0
usercustomize==1.0.0
uwsgi==2.0.18
watchdog==0.9.0
wincertstore==0.2
